<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="template :: header">
</head>
<body>
	
	<div th:replace="template :: navigation"></div>
	<h1>newFood!</h1>
	
	<!-- create new food entry form -->
		<div class= "food-form">
		<form method="post">
	    <label>
	        <div>Food Name</div>
	        <div>&nbsp; &nbsp;<input type="text" name="foodname" th:value="${foodname}"></input></div>
	    </label>
	    <label>
	        <div>Food Description</div>
	        <div>&nbsp; &nbsp;<textarea name="description" th:text="${body}"></textarea></div>
	    </label>
	    <label>
	        <div>Place</div>
	        <div>&nbsp; &nbsp;<input type="text" name="place" th:value="${place}"></input></div>
	    </label>
	    <label>
	        <div>Cost</div>
	        <div>$<input id="twoplaces" type="text" name="price" th:value="${price}"></input></div>
	    </label>
	    <label>
	        <div>Rating 1-10</div>
	        <div>&nbsp; &nbsp;<input type="text" name="rating" th:value="${rating}"></input></div>
	    </label>
	    <label>
	        <div>Worth It?</div>
	        <div>&nbsp; &nbsp;<input type="text" name="worthit" th:value="${worthit}"></input></div>
	    </label>
	    <div class="error" th:text="${error}"></div>
	    <button type="submit">Enter New Food!</button>
	</form>
	</div>

</body>
</html>