<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="template :: header">
</head>
<body>
	
	<div th:replace="template :: navigation"></div>
	<h1 th:text = "${foodname}">foodName</h1>
	<h2><a th:href="'/' + ${food.author.username} + '/' + ${food.uid}" th:text="${food.foodname}"></a></h2>
	<p th:text="${food.description}"></p>
	<p th:text="${food.place}"></p>
	<p th:text="${food.price}"></p>
	<p th:text="${food.rating}"></p>
	<p th:text="${food.worthit}"></p>

	<p class="food-author">eaten by<a th:href="'/' + ${food.author.name}" th:text="${food.author.name}"></a> on <span th:text="${#dates.format(food.created, 'yyyy-MM-dd')}"></span></p>

</body>
</html>